<div class="main info">
	<h2>Info:</h2>
	<div>
		<h3>Has Awesomed his/her presence with MyGengo since:</h3>
		<%= Time.at(@stats['response']['user_since']) %>
	</div>

	<div>
		<h3>Has totally this many credits:</h3>
		$<%= -1 * (@stats['response']['credits_spent']).to_f %>
			(in <%= @stats['response']['currency'] %>)
	</div>
</div>

<div class="main jobs">
	<h2>Jobs:</h2>
	<div class="job">
	<% @jobs.each do |job| stuff = get_job(job) %>
		<h4>Job Name:</h4> <%= stuff['slug'] %>
		
    	<div class="info">
			<h4>Status:</h4> <%= stuff['status'] %>
		</div>
		
		<div class="info">
		<h4>To Translate(<%= stuff['lc_src'] %> =>
			<%= stuff['lc_tgt'] %>):
		</h4>
		<p>
			<%= stuff['body_src'] %>
			<br/><br/>
			<b>For </b> $<%= stuff['credits'] %> <%= stuff['currency'] %><br/>
		</p>
		<br/>
	<% end %>
	</div>

	</p>
</div>